@import url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --Light-pink: hsl(275, 100%, 97%);
  --White: hsl(0, 0%, 100%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
  --size: 16px;
}
body {
  background-image: url("./assets/images/background-pattern-desktop.svg"),
    linear-gradient(to bottom, var(--Light-pink) 10%, var(--Light-pink) 100%);
  background-size: 100vw;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
  width: 100%;
  font-size: var(--size);
}
main {
  width: 600px;
  height: auto;
  padding-inline: 3rem;
  padding-block: 1.6rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

main .wrapper {
  width: 100%;
}
.head {
  display: inline-flex;
  gap: 20px;
  padding: 30px 0;
  align-items: center;
}
.head h1 {
  font-weight: 700;
  font-size: 2rem;
}

.acc .title:hover {
  color: var(--Grayish-purple);
  cursor: pointer;
}
.acc .title {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: var(--size);
  color: var(--Dark-purple);
  font-weight: 700;
  padding: 20px 0;
  text-transform: capitalize;
}

.acc .content {
  color: var(--Grayish-purple);
  text-transform: capitalize;
  text-align: left;
  line-height: 25px;
  max-height: 0;
  text-wrap: wrap;
  overflow: hidden;
}
/* .acc .content {
  transition: all;
  transition-duration: 0.6s;
  transition-delay: 0s;
  transform-origin: top;
} */
.acc .display {
  max-height: 100%;
}

@media screen and (width < 787px) {
  main {
    max-width: 95%;
  }
  .acc .title {
    font-size: small;
  }
  .acc .content {
    line-height: 1.3rem;
    font-size: small;
  }
  body {
    background-image: url("./assets/images/background-pattern-mobile.svg"),
      linear-gradient(to bottom, var(--Light-pink) 10%, var(--Light-pink) 100%);
  }
}
