@font-face {
    font-family: Figtree;
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Figtree;
}
:root{
    --bg:hsl(47, 88%, 63%);
    --white:hsl(0, 0%, 100%);
    --gray:hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --para:13px;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    flex-direction: column;
}

section{
    max-width: 90%;
    border: 2px solid var(--gray);
    padding: .7rem;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px  var(--Black);
    max-height: auto;
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
p{
    color: var(--gray);
    font-size: var(--para);
    line-height: 20px;
}

.capsule{
    font-size:12px;
    background-color: var(--bg);
    font-weight: 800;
    width: max-content;
    padding: 3px 7px;
    border-radius: 2px;
}

.Wrapper-img img{
    border-radius: 10px;
}

section > *{
    margin-bottom: 10px;
}

h5{
   font-size: 13px;
   font-weight: 500;
}
h3{
    font-size: 17px;
    font-weight: 800;
 }
 
 .usr-details {
    display: flex;
    gap: 10px;
    max-height: auto;
    justify-content: left;
    align-items: center;
 }
 .usr-details > img{
    width: 15%;
    object-fit: contain;
 }
 h6{
    font-size: 12px;
    font-weight: 900;
 }

 @media (min-width:300px){
    section{
        max-width: 300px;
    }
 }
 section:hover > h3{
    color: var(--bg);
    
 }